# 文件夹
node_modules
Book


# composer vendor dir
vendor

# phpunit itself is not needed
phpunit.phar

# local phpunit config
phpunit.xml

# test
tests/_output/*
tests/_support/_generated


# composer itself is not needed
composer.phar


# netbeans project files
nbproject


# zend studio for eclipse project files
.buildpath
.project
.settings

# windows thumbnail cache
Thumbs.db


# local env files
.env.local
.env.*.local


# Log files 日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Mac DS_Store Files
.DS_Store

# phpstorm project files
.idea
.vscode
.sass-cache

#vagrant folder
/.vagrant

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.chm
