node_modules
/Class
/Composer
/PDO
/PHP技术点
/Swoole
/设计模式
/Redis
/php7/demo
*/pdf

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.mmap
*.chm
