# 文件夹
node_modules
Composer
MVC
Swoole
PHP技术点
设计模式
Redis
php7/demo
book

# local env files
.env.local
.env.*.local

# Log files 日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log*


# Editor directories and files 根目录和文件
.DS_Store
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.mmap
*.chm
*.xmind
