
.talk{
  .title{
    padding:2rem 0 1rem 0;
    border-bottom: 1px solid #eee;
    // 思源黑体 \u601d\u6e90\u9ed1\u4f53
    font-family: "Fira Code Medium", "\u601d\u6e90\u9ed1\u4f53";
    font-size: 1.2rem;
  }

  .table{
    margin: 0;
  }

  .pagination{
    margin: 0;
    padding: 1rem 0;
  }

  .message-body{
    min-height: 90px;
    height: auto;
  }
}

// form style
.form{
  margin-bottom: 3rem;

  .field{
    position: relative;
    padding-left: 90px;

    .label{
      position: absolute;
      top: 6px;
      left: 0;
      width: 90px;
    }
  }
}

// jquery-confirm
.jconfirm-box{
  max-width: 360px;
  width: auto;
}
